<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.activityshowintent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 桌面上显示的图标与应用名是activity的lable与icon  
                                若activity不配置这两个参数则默认用application的lable,icon -->
        <activity
            android:name="com.android.activityshowintent.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.android.activityshowintent.OtherScreenActivity"
            android:label="@string/app_name" >
            <!-- 表明当前Activity会在桌面创建快捷图标 -->
           <!-- 
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             --> 
        </activity>
    </application>

</manifest>
